<% if @customers.present? %>
  <ul>
    <% @customers.each do |customer| %>
      <li><%= link_to customer.name, customer_path(customer) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>